<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h3 class="text-center"><%= @friends_date.friend.name %>'s <%= @friends_date.important_date.name %></h3>
      <div class="btn-group btn-group-justified">
        <a href="/friends/<%= @friends_date.friend_id%>" class="btn btn-primary">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <a href="/friends_dates/<%= @friends_date.id %>/edit" class="btn btn-warning">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <a href="/delete_friends_date/<%= @friends_date.id %>" class="btn btn-danger" rel="nofollow">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <dl class="dl-horizontal">

      <dt>Date</dt>
      <dd><%= @friends_date.date %></dd>

      <dt>Previous Gifts</dt>
      <dd>
        <ul>
          <% @friends_date.gifts.each do |gift| %>
          <li><%=gift.name%></li>
          <%end%>
        </ul>
      </dd>

    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="text-center">Add a Gift</h3>
    <form action="/create_gift" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <input type="hidden" name="friends_date_id"  value="<%= @friends_date.id %>">
      <input type="hidden" name="friend_id"  value="<%= @friends_date.friend_id %>">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">


      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          What was it?
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @gift.name %>">
      </div>

      <!-- Label and input for year_given -->
      <div class="form-group">
        <label for="year_given" class="control-label">
          When did you give it?
        </label>

        <input type="text" id="year_given" name="year_given" placeholder="Year given" class="form-control" value="<%= @gift.year_given %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Details
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @gift.description %></textarea>
      </div>

      <button class="btn btn-success">
        Add Gift
      </button>
      or
      <a href="/friends/<%=@friends_date.friend_id%>">Cancel</a>
    </form>
  </div>
</div>
