<!-- Validation failure messages -->
<% if @friend.errors.any? %>
  <% @friend.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Friend</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_friend" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @friend.name %>">
      </div>

      <!-- Label and input for friend_photo -->
      <div class="form-group">
        <label for="friend_photo" class="control-label">
          Friend photo
        </label>

        <input type="text" id="photo" name="photo" placeholder="Friend photo" class="form-control" value="<%= @friend.photo %>">
      </div>

      <!-- Label and input for likes -->
      <div class="form-group">
        <label for="likes" class="control-label">
          Likes
        </label>

        <input type="text" id="likes" name="likes" placeholder="Likes" class="form-control" value="<%= @friend.likes %>">
      </div>

      <!-- Label and input for dislikes -->
      <div class="form-group">
        <label for="dislikes" class="control-label">
          Dislikes
        </label>

        <input type="text" id="dislikes" name="dislikes" placeholder="Dislikes" class="form-control" value="<%= @friend.dislikes %>">
      </div>

      <button class="btn btn-success">
        Create Friend
      </button>
      or
      <a href="/friends">Cancel</a>
    </form>
  </div>
</div>
