<!-- Validation failure messages -->
<% if @friends_holiday.errors.any? %>
  <% @friends_holiday.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit <%= @friends_holiday.friend.name %>'s <%= @friends_holiday.holiday.name %> Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_friends_holiday/<%= @friends_holiday.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="hidden" name="user_id" value="<%= current_user.id%>">
      <input type="hidden" name="friend_id" value="<%= @friends_holiday.friend_id %>">
      <input type="hidden" name="holiday_id" value="<%= @friends_holiday.holiday_id %>">
      <!-- Label and input for reminder -->
      <div class="form-group">
        <label for="reminder" class="control-label">
          Reminder
        </label>

        <input type="text" id="reminder" name="reminder" placeholder="Reminder" class="form-control" value="<%= @friends_holiday.reminder %>">
      </div>

      <div class="form-group">
        <label for="traditions" class="control-label">
          Traditions
        </label>

        <textarea id="traditions" name="traditions" placeholder="Traditions" class="form-control" rows="3"><%= @friends_holiday.traditions %></textarea>
      </div>

      <br>
      <button class="btn btn-warning">
        Update Friends Holiday
      </button>
      or
      <a href="/friends_holidays/<%= @friends_holiday.id %>">Cancel</a>
    </form>
  </div>
</div>
