<div class="page-header">
  <h3>Friends Holiday #<%= @friends_holiday.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Card</dt>
      <dd><%= @friends_holiday.card %></dd>

      <dt>Reminder</dt>
      <dd><%= @friends_holiday.reminder %></dd>

      <dt>Friend</dt>
      <dd><%= @friends_holiday.friend_id %></dd>

      <dt>Holiday</dt>
      <dd><%= @friends_holiday.holiday_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/friends_holidays" class="btn btn-primary">
        Back
      </a>
      <a href="/friends_holidays/<%= @friends_holiday.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_friends_holiday/<%= @friends_holiday.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
