<div class="page-header">
  <h3>Important Date #<%= @important_date.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Reminder</dt>
      <dd><%= @important_date.reminder %></dd>

      <dt>Friend</dt>
      <dd><%= @important_date.friend_id %></dd>

      <dt>Card</dt>
      <dd><%= @important_date.card %></dd>

      <dt>Previous gifts</dt>
      <dd><%= @important_date.previous_gifts %></dd>

      <dt>Traditions</dt>
      <dd><%= @important_date.traditions %></dd>

      <dt>Name</dt>
      <dd><%= @important_date.name %></dd>

      <dt>Date</dt>
      <dd><%= @important_date.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/important_dates" class="btn btn-primary">
        Back
      </a>
      <a href="/important_dates/<%= @important_date.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_important_date/<%= @important_date.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
